.carousel-indicators .active{
  background-color: #02DFFC;
}

.parallax1 {
  /* The image used */
  background-image: url("assets/images/scroll4.jpg");

  /* Set a specific height */
  min-height: 500px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 18px;
  line-height: 50px;
}

.parallax2{
  background-image: url("assets/images/slider4.jpg");
  min-height: 500px; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
} 


.jumbotron .top {
  background-image: url("assets/images/scroll2.png");
  min-height: 500px; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.object{
  text-align: center;
  background-color: black;
  color: white;
  opacity: 0.6;
}

.proj1 {
  background-image: url("assets/images/scroll2.png");
  min-height: 150px; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: left;
  padding-top: 20px; 
  color: black;
  font-size: 18px;
  opacity: 1;  
  padding-left: 10px;
  width: 1140px;
  line-height: 50px;
}

.achieve, .perso{
  background-image: url("assets/images/scroll7.jpg");
  min-height: 150px; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: left;
  padding-top: 20px; 
  padding-left: 10px;
  color: rgb(12, 12, 12); 
  font-size: 18px;
  width: 1140px;
  line-height: 50px;
}



.resp{
  background-image: url("assets/images/scroll4.jpg");
  min-height: 150px; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: left;
  padding-top: 20px; 
  color: white; 
  line-height: 50px;
  font-size: 18px; 
  width: 1140px;
}



.skills{
  background-image: url("assets/images/scroll5.png");
  width: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 10px; 
  color: rgb(10, 5, 5); 
  font-size: 15px;
}



.container .project1{
  width: 100%;
  height: 200px;
  padding: 30px;
  color: rgb(3, 3, 3);
  opacity: 0.6;
  text-align: center;
}


.basement{
  width: 100%;
  height: 100px;
  color: white;
}

.social-share{
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
 }
  
 .navbar-nav li a, .navbar-brand {
   color: white;
   border: 1px solid transparent;   
 }

 .container-fluid {
  background-color: black;
  opacity: 0.6;
 }

 .img-responsive,
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
   width: 1800px;
   height: 890px;
 }

#myHobby .carousel-inner {
  width: 1130px;
  height: 500px;
}

 .carousel-control.left, .carousel-control.right  {
  background-image: none;
 }

 .logo {
  font-size: 200px;
  margin-top: 25px;
  margin-left: 70px;
}

.container .mygrid {         
    height: 300px;
    border: 1px solid black;     
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50px;
    margin-top: 50px;
    -webkit-background-size: cover;
    padding-top: 125px;
}

.container .mygrid:hover{
    border: 2px solid #61B67A;    
}

.mygrid .img{
  padding-bottom: 50px;
  padding-right: 30px;
  
}

.label1{
  background-color: black;
  opacity: 0.5;
  color: white;
  margin-left: 15px;
  font-family: 'calibri', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
}

.tenth{
  height: 350px;
}


.tenth .overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 15px;
  height: 300px;
  width: 262px;
  opacity: 0;
  transition: .9s ease;
  background-color: rgb(6, 252, 239);
}

.tenth:hover .overlay1 {
  opacity: .8;
}
 

.twelth .overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 15px;
  height: 300px;
  width: 262px;
  opacity: 0;
  transition: .9s ease;
  background-color: rgb(6, 252, 239);
}

.twelth:hover .overlay2 {
  opacity: .8;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.box{
  color:#ddd;
  background-color: black;
  text-align:center;
  padding:10px 80px;
  opacity: 0.8;
  text-align: justify;
}

.thumbnail {
  height: 300px;
}

.thumbnail > img{
  width: 350px;
  height: 200px;
}

.footer{
  text-align: left;
  padding-top: 20px;  
}

@media (min-width: 1080px) {
  .footer {
    padding-left: 200px;
  }
}

.fa-google-plus, .fa-linkedin, .fa-twitter, .fa-facebook, .fa-skype{
  font-size: 30px;
  margin-left: 30px;
}

.fa-google-plus:hover, .fa-linkedin:hover, .fa-twitter:hover, .fa-facebook:hover, .fa-skype:hover {
  border: 2px solid black;
  border-radius: 22px;
  padding: 5px;  
  background-color: black;
  opacity: 1;
}
